{{ define "main" }}
<article>
  <header>
    {{- if eq .Section "blog" }}
    {{- with .Parent }}<p class="label"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
    {{- end }}
    <h1>{{ .Title }}</h1>
    {{- if eq .Section "blog" }}
    {{- partial "post-meta.html" . }}
    {{- end }}
  </header>
  {{ .Content }}
  {{- with .GetTerms "tags" }}
  <footer>
    <ul class="tags" aria-label="{{ i18n "tags" }}">
      {{- range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>
  {{- end }}
</article>
{{ end }}
